/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 50px;
    height: 60px;
    width: calc(100% - 50px);
    background-color: rgba(20, 25, 34, 0.4);
}

/* SIDEBAR */

.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    height: calc(100vh - 50px);
    width: 50px;
    background-color: #000000;
}

/* MAIN */

main {
    height: calc(100vh - 50px);
    overflow-y: auto;
    background-color: #141922;
    color: white;
    padding-left: 50px;
    padding-top: 60px;
}

/* FOOTER */

footer {
    height: 50px;
    background-color: #282828;
}

/* RESPONSIVE */

@media screen and (min-width: 992px) {
    main {
        padding-left: 100px;
    }

    .sidebar {
        width: 100px;
    }

    header {
        left: 100px;
        width: calc(100% - 100px);
    }
}
