/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* GENERAL STYLES */

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
}

.font-grey:hover, a:hover {
    opacity: 1;
}

/* UTILS */

.none {
    display: none;
}

.current {
    opacity: 1;
    color: white;
}

.font-grey {
    opacity: 0.5;
    cursor: pointer;
}

.font-small {
    font-size: 12px;
}

.font-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.m-t-b-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* HEADER */

#main-header {
    position: fixed;
    top: 0;
    left: 50px;
    height: 60px;
    width: calc(100% - 50px);
    background-color: rgba(8, 11, 18, 0.5);
    z-index: 1;
}

.topbar {
    text-align: right;
}

button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

/* SIDEBAR */

.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    height: calc(100vh - 60px);
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
}

.upper-sidebar, 
.lower-sidebar {
    margin-left: 10px;
}

.sidebar img {
    margin: 5px 0;
    width: 20px;
    vertical-align: middle;
}

.sidebar .spotify-logo-text {
    width: 90%;
}

.playlist, .sidebar h4 {
    margin-top: 15px;
}

.background-grey {
    background-color: grey;
    height: 20px;
    border-radius: 50%;
}

.fa-plus-square {
    font-size: 35px;
    vertical-align: middle;
}

hr {
    width: 90%;
    opacity: 0.5;
}

.active-sidebar::before {
    content: "";
    border-right: 2px solid limegreen;
    display: inline;
    margin-right: 8px;
    margin-left: -10px;
    vertical-align: middle;
}

/* MAIN */

main {
    height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: #141922;
    color: white;
    padding-left: 50px;
    padding-top: 60px;
}

main ul {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}

main ul li {
    margin: 10px;
    display: inline-block;
}

.playlist-cover {
    padding: 10px;
    position: relative;
}

main h2 {
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
}

main h5 {
    padding-left: 10px;
    margin: 15px 0;
}

.rounded {
    border-radius: 50%;
}

.playlist-cover:hover::after {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.playlist-cover:hover img {
    filter: opacity(0.5);
}

.active::after {
    content: "";
    display: block;
    border-bottom: 1px solid limegreen;
    width: 30px;
    margin: 10px auto;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #282828;
}

.left-footer, .middle-footer, .right-footer {
    display: flex;
    align-items: center;
}

.left-footer {
    margin-left: 10px;
}

.song {
    width: 40px;
    height: 40px;
}

.song-info {
    padding-left: 8px;
    padding-right: 8px;
}

.fa-heart, .fa-folder {
    display: block;
}

.middle-footer {
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.middle-footer .song-status,
.middle-footer .controls {
    width: 100%;
    text-align: center;
}

.song-status {
    margin-top: 5px;
    font-size: 10px;
    cursor: pointer;
}

.progress-bar {
    display: inline-block;
    height: 3px;
    border-radius: 5px;
    background-color: grey;
    position: relative;
    vertical-align: middle;
}

.white-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 5px;
}

.song-bar {
    width: 70%;
}

.right-footer {
    margin-right: 10px;
    cursor: pointer;
}

.volume-bar {
    width: 50px;
}

.small-control .far, 
.right-footer .controls .fas {
    padding: 3px;
}

.middle-footer .controls .fas {
    padding: 0 8px;
}

.fa-play-circle {
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.fa-play-circle:hover {
    transform: scale(1.1);
}

.song-status:hover .white-bar, 
.right-footer:hover .white-bar {
    background-color: limegreen;
}

/* RESPONSIVE */

@media screen and (min-width: 576px) {
    main {
        padding-left: 170px;
    }

    .sidebar {
        width: 170px;
    }

    #main-header {
        left: 170px;
        width: calc(100% - 170px);
    }

    .none {
        display: inline-block;
    }

    .spotify-logo-text {
        width: 80%;
        margin: 10px 0;
    }

    .spotify-logo {
        display: none;
    }
}